body {
        margin: 20px 0px;
        padding: 25px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        background-color: #16213e;
        color: #ffffff;
        }   

    .contenedor {
        display: flex;        
        max-width: 1200px;    
        margin: 30px;
        padding: 20px;
        border: 1px solid black;
        }

    main {
        flex: 4;              
        padding: 20px;
        max-width: 1000px;      
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-bottom: 10px;
        line-height: normal;
        }

    img {
    width: 300px; 
    height: auto; 
    display: block;
    margin: 20px auto; 
    border-radius: 10px;
    }
    
    .cinna {
            width: 80px;
            bottom: 10px;
            right: 10px;
            z-index: 1000;
        }  
    
    .galeria {
        display: flex;
        gap: 12px;

    }

    .galeria img {
        width: 150px;
        height: auto;
    }

    .Interstellar img {
        width: 1000px;
        height: auto;
    }